@import "./sections/hero.css";
@import "./sections/why-bascal.css";
@import "./sections/services.css";
@import "./sections/services-pro.css";
@import "./sections/projects.css";
@import "./components/navbar.css";
@import "./components/footer.css";
@import "./components/faq-accordion.css";
@import "./components/form.css";
